
body {
  font-family: Papyrus;
  color: red;
  background-image: url("https://images7.alphacoders.com/327/327601.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

#new-item-form {
  display: flex;
  justify-content: center;
}

#form-item, #buttons {
  padding: 20px 20px 0px 20px;
}

#save-button, #delete-all, .remove-button {
  color: white;
  padding-top: 1px;
  padding-bottom: 3px;
  border: 1px solid black;
  background-color: red;
  border-radius: 2px;
}

#save-button:hover, #delete-all:hover, .remove-button:hover {
  color: red;
  background-color: white;
}

h1 {
  margin: 0px 0px 20px 50px;
}

h1, .entry-title {
  text-decoration: underline;
}

.entry-title {
  margin: 0px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

#game-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.game-list-entry {
  border: 1px solid red;
  padding: 15px;
  border-radius: 10px;
  color: red;
  margin: 10px;
  background-color: black;
}

.radio-buttons {
  display: inline-table;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
